html {
  width: 80vw;
  font-size:16px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  background-color: #f4fbfe;
}

header {
  height: 60px;
  margin: 0;
  position: fixed;
}


/* img {
  width: 100%
} */

main {
  margin: 0 auto 2vh auto;
  padding-top: 10px;
}

footer {
  height: 10vh;
  margin: 0 5%;
  text-align: center;
}

h3 {
  text-align: center;
  line-height: 1.5;
  padding-top: 80px;
}

h4 {
  text-align: center;
}

#navbarMainContent {
  font-family: "Roboto";
  width: 20vw;
  margin-right: 30vw;
  float: left;
}

#navbarSupportedContent {
  width: 50vw;
  float: right;
}

#footer {
  font-family: "Roboto", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  text-align: center;
}

.navbar {
  width: 100vw;
  height: 8vh;
  margin: 0 auto;
  padding: 0;
  align-items: start;
  background-color: #f4fbfe;
}

.navbar navbar-fixed-top navbar-expand-lg navbar-light {
  width: 100%;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.navbar-brand {
  font-family: "Roboto", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-size: 150%;
  margin: 0 9vw 0 1vw;
  padding: 2vh 0;
}

.nav-item {
  padding: 0;
  margin: 0;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.nav-item::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #165e83;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.nav-item:hover::after {
  transform: scale(1, 1);
}
.box_head {
  height: 850px;
}

.box_description {
  height: 800px;
  text-align: center;
}

.box_works {
  height: 400px;
  text-align: center;
}

.box_link {
  height: 800px;
  text-align: center;
}

.box_contact {
  height: 300px;
  text-align: center;
}

.column_left {
  width: 40%;
  float: left;
  margin-left: 7%;
  margin-right: 3%;
  height: 600px;
}

.column_right {
  width: 40%;
  float: right;
  margin-left: 3%;
  margin-right: 7%;
  height: 600px;
}

#yuk_icon {
  max-width: 300px;
  max-height: 580px;
  margin: 1vw 0;
}

#about_miznoyuk {
  text-align: left;
  margin-top: 50px;
}

#main-bg {
  height: 850px;
  width: 100%;
  background-image: url("https://raw.githubusercontent.com/miznoyuk/homepage/master/image/orange.png");
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
}

.video {
  position: relative;
  margin: auto;
}
